@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
#nav-header {
  margin-bottom: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold; }
  #nav-header .container-md {
    padding-top: 1rem; }
    @media (min-width: 768px) {
      #nav-header .container-md {
        padding-top: 0.5rem; } }
    #nav-header .container-md #logotype img {
      padding: 0;
      margin: 0;
      width: 125px; }
      @media (min-width: 576px) {
        #nav-header .container-md #logotype img {
          width: 200px; } }
    #nav-header .container-md a {
      color: #252525;
      font-size: 1.25rem;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-bottom 0.25s;
      transition: border-bottom 0.25s; }
      #nav-header .container-md a:hover {
        border-bottom: 2px solid #3b3b3b;
        color: #181818; }
    #nav-header .container-md #dropdown-nav {
      display: none; }
    #nav-header .container-md .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: end;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      width: 100%;
      margin: 0; }
      @media (min-width: 576px) {
        #nav-header .container-md .nav {
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
      #nav-header .container-md .nav .hamburger {
        display: block;
        cursor: pointer;
        color: #252525;
        font-size: 2.5rem;
        margin-right: 2rem; }
        @media (min-width: 576px) {
          #nav-header .container-md .nav .hamburger {
            display: none; } }
    #nav-header .container-md #main-nav a {
      display: none; }
      @media (min-width: 576px) {
        #nav-header .container-md #main-nav a {
          display: inline; } }
    #nav-header .container-md #dropdown-nav a {
      display: inline-block;
      width: 100%;
      margin-left: 1rem;
      margin-top: 1rem;
      font-size: 2rem; }
      #nav-header .container-md #dropdown-nav a:hover {
        border-bottom: 2px solid transparent; }
      @media (min-width: 576px) {
        #nav-header .container-md #dropdown-nav a {
          display: none; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    left: -1000px; }
  100% {
    opacity: 1;
    left: 0px; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    left: -1000px; }
  100% {
    opacity: 1;
    left: 0px; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    left: 0px; }
  100% {
    opacity: 0;
    left: -1000px; } }

@keyframes fade-out {
  0% {
    opacity: 1;
    left: 0px; }
  100% {
    opacity: 0;
    left: -1000px; } }

#fixed-menu {
  background-image: url("/img/patterns/ep_naturalblack.png");
  background-repeat: repeat;
  display: none;
  padding-bottom: 1rem;
  padding-top: 1rem;
  -webkit-animation: fade-in 0.5s;
          animation: fade-in 0.5s;
  position: relative;
  z-index: 99;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden; }
  #fixed-menu .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  #fixed-menu.sticky-menu, #fixed-menu.unsticky-menu {
    display: block;
    position: fixed;
    top: 0;
    width: 100%; }
  #fixed-menu.unsticky-menu {
    -webkit-animation: fade-out 0.75s forwards !important;
            animation: fade-out 0.75s forwards !important; }
  #fixed-menu a {
    color: #e4d6d6;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.25s;
    transition: border-bottom 0.25s;
    font-family: "Nunito", sans-serif;
    font-weight: bold; }
    #fixed-menu a:hover {
      border-bottom: 2px solid white;
      color: white; }

#lang-switch {
  position: absolute;
  top: 10px;
  right: 25px;
  padding: 5px 2px; }

#presentation {
  background: #f7f7f7ff;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  #presentation .container {
    margin-top: 1rem;
    text-align: center; }
    #presentation .container h1 {
      font-weight: 700; }
    #presentation .container img {
      border-radius: 5px;
      max-height: 100%; }

#about-us-section {
  background: #f7f7f7ff;
  padding-bottom: 2rem;
  padding-top: 2rem; }
  #about-us-section .container #about-us-title {
    text-align: center; }
    #about-us-section .container #about-us-title h1 {
      margin-bottom: 0; }
    #about-us-section .container #about-us-title hr {
      width: 10em;
      margin: 0 auto !important;
      border: 1px solid green;
      padding: 0;
      margin: 0; }
  #about-us-section .container .about-text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #about-us-section .container .about-text address {
      font-size: 1.5rem !important; }
    #about-us-section .container .about-text .business-info {
      font-size: 1.25rem; }
      #about-us-section .container .about-text .business-info span {
        font-weight: bold; }

#services {
  background: #f7f7f7ff;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  #services .container #services-title {
    text-align: center; }
    #services .container #services-title hr {
      width: 20em;
      margin: 0 auto !important;
      border: 1px solid green;
      padding: 0;
      margin: 0; }
  #services .container #service-boxes {
    margin-top: 2rem; }
    #services .container #service-boxes .box {
      background: white;
      padding: 2rem;
      border-radius: 10px;
      -webkit-box-shadow: 3px 3px 5px #ebebebeb;
              box-shadow: 3px 3px 5px #ebebebeb;
      -webkit-transition: -webkit-box-shadow 0.3s;
      transition: -webkit-box-shadow 0.3s;
      transition: box-shadow 0.3s;
      transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
      #services .container #service-boxes .box:hover {
        -webkit-box-shadow: 3px 3px 5px #ebebeb;
                box-shadow: 3px 3px 5px #ebebeb;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      #services .container #service-boxes .box:hover > i {
        color: rgba(0, 0, 0, 0.9); }
      #services .container #service-boxes .box i {
        font-size: 3rem;
        color: rgba(0, 0, 0, 0.75);
        -webkit-transition: color 0.3s;
        transition: color 0.3s; }
        #services .container #service-boxes .box i.fa-dungeon, #services .container #service-boxes .box i.fa-chimney {
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg); }
      #services .container #service-boxes .box h2 {
        padding-top: 1rem; }

#gallery-section {
  background: white;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  #gallery-section .container #gallery-title {
    text-align: center; }
    #gallery-section .container #gallery-title hr {
      width: 20rem;
      margin: 0 auto !important;
      border: 1px solid green;
      padding: 0;
      margin: 0; }
  #gallery-section .container .my-lightbox {
    margin-top: 2rem; }
    #gallery-section .container .my-lightbox a {
      text-decoration: none !important; }
    #gallery-section .container .my-lightbox .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important; }
    #gallery-section .container .my-lightbox .lazy-loading {
      width: 100%;
      vertical-align: middle;
      -webkit-filter: blur(1px);
              filter: blur(1px); }
    #gallery-section .container .my-lightbox img {
      max-width: 100%;
      vertical-align: middle;
      margin-bottom: 0.5rem;
      cursor: pointer;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      border-radius: 5px; }
      #gallery-section .container .my-lightbox img:hover {
        -webkit-box-shadow: 0px 2px 6px -1px #96969648;
                box-shadow: 0px 2px 6px -1px #96969648;
        -webkit-transform: scale(1.01);
                transform: scale(1.01); }

#lightbox .lb-outerContainer {
  background: rgba(0, 0, 0, 0.1); }
  #lightbox .lb-outerContainer .lb-container .lb-image {
    border: 2px solid #ffffffaa; }

html {
  scroll-behavior: smooth; }

body {
  min-width: 175px;
  font-family: "Nunito", sans-serif;
  -webkit-animation: testing 1s;
          animation: testing 1s; }

.padder {
  position: relative;
  top: -3rem; }
  .padder h4 {
    visibility: hidden;
    font-size: 0.25rem;
    line-height: 1; }

@-webkit-keyframes testing {
  0% {
    -webkit-filter: blur(100px);
            filter: blur(100px); }
  99% {
    -webkit-filter: blur(0px);
            filter: blur(0px); }
  100% {
    -webkit-filter: none;
            filter: none; } }

@keyframes testing {
  0% {
    -webkit-filter: blur(100px);
            filter: blur(100px); }
  99% {
    -webkit-filter: blur(0px);
            filter: blur(0px); }
  100% {
    -webkit-filter: none;
            filter: none; } }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: -1; }
  .parallax.showcase {
    background-image: url("/images/parallax.jpg");
    height: 400px; }

.cutoff-light {
  width: 50%;
  padding-top: 20rem;
  height: 100%;
  float: right;
  background: white;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  z-index: -1; }

#footer {
  background: #3e404dff;
  color: white;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  word-wrap: anywhere; }
  #footer a {
    color: white; }
    #footer a:hover {
      color: #c7c7c7; }
  #footer p {
    margin-bottom: 0; }
  #footer address {
    margin: 0; }
  #footer .container .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

#credit {
  text-align: center;
  color: gray;
  font-size: 12px; }
  #credit a {
    color: gray;
    text-decoration: none; }
